$myVariable:lightblue;
$danger: #e74c3c;
$success: green;
$dark: grey;
$light: beige;



h1{
    color: $myVariable;
}

.btn{
    padding: 20px;
    border-radius: 20px;
    color: rgb(228, 129, 228);
    font-size: 25px;
    border-color: lightblue;
    border-width: 3px;
    
    &:hover{
        background: lightblue;
    }

    &-danger{
        background: $danger;
        color: $light;
    }

    &-warning{
        background: $warning;
        color: $light;
    }


}

